html { font-family: sans-serif; padding: 1rem; }
div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
    }

img#loading_image{
    display: none;
}